<!-- ***** بداية التحميل المسبق ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- ***** نهاية التحميل المسبق ***** -->

<!-- الهيدر -->
<header class="">
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <h2>One<span style="color: rgb(241, 110, 70);">Bit</span></h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link" href="{% url 'index' %}">الرئيسية
              <span class="sr-only">(الصفحة الحالية)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">المدونات</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">إنشاء مدونة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.id %}">الملف الشخصي</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="{% url 'logout' %}">تسجيل الخروج</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}"><i class="fa fa-user"></i> تسجيل الدخول</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- محتوى الصفحة -->
<!-- بداية البانر -->
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      <!-- يمكنك إضافة عناصر البانر هنا -->
    </div>
  </div>
</div>
<!-- نهاية البانر -->